:root{
    --border-medium: 1px solid rgba(0,0,0, 1);
    --border-thin: 1px solid rgba(0,0,0, 0.3);
    --border-ultra-thin: 1px solid rgba(0,0,0, 0.1);
    --border-radius-small: 4px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 16px;
    min-height: 100vh;
    width: 100%;
}

.margin-auto-1440{
    margin: 0 auto;
    max-width: 1440px;
}

input{
    font-size: 16px;
    outline: none;
}

button{
    cursor: pointer;
}

.next-link{
    cursor: pointer;
    text-decoration: none;
}

.centre{
    display: flex;
    justify-content: center;
    align-items: center;
}

.transition-fast{
    transition: all ease-in .1s;
}