.bottom-contacts-container{
    margin: 1em 0 -5em 0;
    width: 100%;
    z-index: 1;
}

.contacts-box{
    background-color: var(--dark-color);
    border-radius: 12px;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 5em 2.5em;
    margin: 0 1em;
    height: 10em;
    max-width: 1440px;
    width: 100%;
}

.contact-header{
    color: white;
}

@media only screen and (max-width: 1024px) {
    .bottom-contacts-container{
        margin: 1em 0 -7em 0;
    }
    .contacts-box{
        flex-flow: column nowrap;
        gap: 1.25em;
        padding: 2.5em;
        height: auto;
    }
}