.index-about-container{
    background-color: var(--primary-color);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    height: auto;
    width: 100%;
}

.text-container{
    color: white;
    text-align: center;
    padding: 5em 0 15em 0;
    max-width: 768px;
}

.about-header, .about-text{
    margin: 0.5em 0;
    font-weight: 400;
}

.resume-btn{
    border: 2px solid var(--secondary-color);
    border-radius: var(--border-radius);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    transition: all ease-in .2s;
    text-decoration: none;
    margin-top: 1em;
    padding: 0 1em;
    height: 2.5em;
    width: fit-content;
}

.resume-btn:hover{
    background-color: var(--secondary-color);
    color: var(--dark-color);
}

@media only screen and (max-width: 768px) {
    .index-about-container{
        padding: 0 1em;
    }

    .text-container{
        padding: 3em 0 15em 0;
    }

    .about-header{
        font-size: 1.50em;
        margin-bottom: 1em;
    }

    .about-text{
        font-size: 1em;
    }

    .resume-btn{
        height: 42px;
    }
}