.home-page-container{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.hero-devices-image-wrapper{
    padding: 0 1em;
    margin: 3em auto 2px auto;
    max-width: 768px;
}

.index-hero-devices-img{
    height: 100%;
    width: 100%;
}

.border-bottom{
    border-bottom: var(--border-thin);
    width: 100%;
}

@media only screen and (max-width: 768px) {
    
}